

/* imagen principal */
.marco-image {
  min-height: 80vh;
  background-position: center;
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.show-movie-container {
  max-width: 80%;
  padding-bottom: 40px;
}
.show-movie-title {
  font-size: 3rem;
  font-weight: 300;
  margin: 0;
}

/* navbar */
.navbar {
  padding-right: 0;
  padding-left: 0;
}

/* contenedor de tarjetas */
.card-movies-container{
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.25rem;
  position: relative;
  position: relative;
}

/* Modal */

.custon-modal-container {
  color: black;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  z-index: 10;
}

.custon-modal-background {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  align-items: center;
  justify-content: center;
}
.custon-modal {
  border-radius: .5rem;
  width: 80%;
  height: 80%;
  background-color: white;
  overflow-x: auto;
}

.custon-modal::-webkit-scrollbar {
  display: none;
}

.custon-modal-title-container {
  background-color: white;
  position: sticky;
  top: 0;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.custon-modal-title-container h2 {
  font-size: 2rem;
  font-weight: 400;
}

.custon-modal-body {
  padding: 10px 20px;
}
.show {
  display: block;
}


/* responsive */
@media screen and (min-width: 768px) {
  .card-movies-container{

    grid-template-columns: 1fr 1fr;
  
  }
  
  
}
@media screen and (min-width: 992px) {
  .card-movies-container{

    grid-template-columns: 1fr 1fr 1fr;
  
  }
  
}
@media screen and (min-width: 1200px) {
  .card-movies-container{

    grid-template-columns: 1fr 1fr 1fr 1fr;
  
  }
  
}
@media screen and (min-width: 1400px) {
  .card-movies-container{

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  
  }
  
}